@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap%27');



body {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-create {
    background-color: #A9A9A9;
    color: #000;
    letter-spacing: 0.1rem;
}

.logo {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2rem;

}

.navbar{
    padding-right: 12px;
    padding-left: 12px;
}


#my-color {
    color: red;
}

.navbar-custom {
    background-color: #000;
}

.bg-dark {
    background-color: #000 !important;
}

.btn-create:hover {
    background-color: #DCDCDC;
    color: #34282C;
    border-color: #000;
    box-shadow: 0px 0px 5px 4px #DCDCDC;
}

.content .btn-create:active {
    background-color: #DCDCDC;
}
#startDate, #endDate{
    cursor: pointer;
}

.form-label::after {
    content: " *";
    color: red;
}

.form-label {
    font-weight: 600;
}

.form-switch .form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

.form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    cursor: pointer;
}
.form-switch .form-check-input:hover{
    border-color:  #000;
    box-shadow: 0px 0px 5px 4px #DCDCDC;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23A9A9A9'/%3e%3c/svg%3e");
    border-color: #A9A9A9;
}

.form-switch .form-check-input {
    background-color: #DCDCDC;
    border-color: #DCDCDC;
}

.focus-grey:focus {
    border-color: #DCDCDC;
    box-shadow: 0px 0px 5px 4px #DCDCDC;
}

.form-switch {
    padding: 0;
    margin-top: 10px;
}

.form-check {
    padding: 0;
}