@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.red{
    color:#FF0000;
}
.btn-red{
    background-color: #FF0000;
    color: white;
} 
.btn-red:hover{
    background-color:#CD5C5C;
    color: white;
}

@media (min-width: 760px) {
#logo {
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 600;

}

}

#myColor {
    color: red;
}

