:root {
    --primary-color1: #000000;
    --primary-color2: #FF0000;
    --primary-color3: #A9A9A9;
    --secondary-color1: #34282C;
    --secondary-color2: #CD5C5C;
    --secondary-color3: #DCDCDC;
    --secondary-color4: white;
}